 <div class="container">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">
          <h1><%= @product.name %></h1>
        </strong>
        <p class="lead"><%= @product.description %></p>
        <%= simple_format(@product.long_description) %>

        <p class="lead"><%= number_to_currency(@product.price) %></p>
        <%= link_to "#", class: "btn btn-primary align-self-end" do %>
          <i class="bi bi-cart-check"></i>
          Dodaj do koszyka
        <% end %>
      </div>
      <div class="col-auto d-none d-lg-block">
        <svg>
          <%= link_to product_path(1) do %>
            <% if @product.photo.attached? %>
              <% image_tag(@product.photo, class: "img-responsive") %>
            <% else %>
              <%= image_tag "no-image.png" %>
            <% end %>
          <% end %>
        </svg>
      </div>
    </div>
  </div>
</div>
