 <div class="container">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">
          <h1><%= Faker::Hacker.noun %></h1>
        </strong>
        <p class="lead"><%= Faker::Hacker.say_something_smart %></p>
        <%= simple_format(Faker::Lorem.paragraphs(number: 3).join("n/n")) %>

        <p class="lead"><%= number_to_currency(Faker::Number.decimal(l_digits: 2, r_digits: 2)) %></p>
        <%= link_to "#", class: "btn btn-primary align-self-end" do %>
          <i class="bi bi-cart-check"></i>
          Dodaj do koszyka
        <% end %>
      </div>
      <div class="col-auto d-none d-lg-block">
        <svg>
          <%= link_to product_path(1) do %>
            <% image_tag Faker::Placeholdit.image(size: "640x480", format: 'jpg', background_color: 'cccccc'), class: "img-responsive"  %>
          <% end %>
        </svg>
      </div>
    </div>
  </div>
</div>
